@mixin buttonHomePage($fontSize, $color, $background, $paddingY, $paddingX) {
  border-radius: 50px;
  background: $background;
  white-space: nowrap;
  padding: $paddingY $paddingX;
  color: $color;
  font-size: $fontSize;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: $color;
  }
}
